* text=auto
*.sh text eol=lf
*.py text eol=lf
*.Gs++ text eol=lf
*.GsPP text eol=lf
*.GsPlusPlus text eol=lf
*.HGs++ text eol=lf
*.HGsPP text eol=lf
*.HeaderGsPlusPlus text eol=lf
*.GsPj text eol=lf
*.GsProject text eol=lf
*.GsPs text eol=lf
